body {
    font-family: Arial, sans-serif;
    background-color: #4d8289;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px; 
}

h1 {
    text-align: center;
    color: #00796b; 
}

input{
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    align-items: center;
    border-radius: 4px;
}

button {
    background-color: #c02e85; 
    color: hsl(0, 10%, 86%);
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    align-items: center;
    border: 1px solid #97dfae;
    border-radius: 4px;
}

button:hover {
    background-color: #004d40; 
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid #b2dfdb;
    color: #c24cc6; 
}

.completed {
    text-decoration: line-through;
    color: #b0bec5; 
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
    .container {
        width: 95%; /* Full-width with some margin on small screens */
    }

    input, button {
        padding: 10px; /* Smaller padding on small screens */
    }

    li {
        font-size: 14px; /* Smaller font size */
    }
}